$colorWhite: #fff;
$colorCardBlue: #f1f2ff;
$colorCard: #fffaf1;

$colorGradientBlue: #459de9;
$colorGradientOrange: #ffa25b;
$colorGradient: #fff4f4;

$colorBlue: #5b8cff;
$colorActiveItem: #f2f2f2;
$color4: #c5c5c5;
$color5: #afafaf;
$color6: #8d8d8d;
$color7: #707070;
$color8: #464646;
$colorShadow: #00000029;

$color10: #ffffffd9;

$fontWeight-Light: 300;
$fontWeight-Regular: 400;
$fontWeight-SemiBold: 600;

$transition-time: 0.3s;
