@import './styles/utils/vars';
@import './styles/utils/mixins';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 282px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;

  &__box {
    @include shadow;
    display: block;
    width: 569px;

    padding: 10px;
    background: $colorWhite 0 0 no-repeat padding-box;
    border-radius: 5px;
    border: none;
    outline: none;

    @media (max-width: 840px) {
      width: 300px;
    }

    @media (max-width: 480px) {
      width: 200px;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 2;
    pointer-events: none;
    transform: translateY(10px);
  }

  &__button {
    position: absolute;
    width: 112px;
    left: 100%;

    transform: translateX(10px);

    @media (max-width: 840px) {
      width: 60px;
    }

    @media (max-width: 480px) {
      position: static;
      width: 50px;
    }
  }
}
